body{
box-sizing: border-box;
background-color: aliceblue;
}
.count{
  text-align:center;
}
.count button{
  margin:3px;
  padding:8px;
 background-color: rgb(59, 71, 71);
 color: rgb(240, 231, 231);
 border: none;
 cursor: pointer;
}