

#list {
	width: 100%;
	overflow: hidden;
	list-style-type: none;
}
ul li {
	border:1px solid #ee9800;
	padding: 0.5rem;
	font-size: 18px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	
	
}
ul li i {
	border:1px solid black;
	border-radius: 5px;
	cursor: pointer ;
	transition: 0.3s;
	padding: 0.5rem;

}
