.App{
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.countainer{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
button{
	width: 100px;
	height: 50px;
	background-color: rgb(159, 189, 60);
	margin: 10px;
	border: 6px double rgb(47, 22, 22);
	font-size: 1.5em;
}

.plus{
	background-color: rgb(27, 90, 2);
}
.minus{
	background-color: rgb(90, 2, 2);
}