body{
    background-color:rgb(236, 236, 236);
    box-sizing: border-box;
    }

    .App {
      font-family: sans-serif;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      align-content: center;
      align-items: center;
      overflow: hidden;
    }
    .App p{
 text-align: center;
 font-size: 1.5em;
      border:2px solid black;
      padding:15px 0 0 15px;
      color:rgb(39, 4, 4);
      font-weight: 700;
      width: 25%;
    
    }
    .clear {
      padding:10px;
      color:white;
      background-color:indigo;
      border: none;
    cursor:pointer;
    }
    input[type=text]{
     
    padding:7px;
    color:darkblue;
    border:2px solid black;
    margin:5px;
    }

    .X{
    font-size: 1.1em;
    border: none;
    padding: 0 0 10px 99%;
    cursor:pointer;
    color:rgb(0, 0, 0);
    }